body {
  font-family: "Montserrat", sans-serif;
  background-color: #f2f4f3;
}

.confirmButton {
  color: var(--header-color) !important;
  background-color: var(--nav-signin-color) !important;
}

.cancelButton {
  color: var(--body-color) !important;
  background-color: var(--header-color) !important;
}

.confirmButton,
.cancelButton {
  font-size: 1rem;
}

.exam {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  margin: 1.3rem 1.8rem;
  background-color: var(--header-color);
  color: var(--body-color);
  border-radius: 9px;
  padding: 1rem;
  transition: opacity 200ms ease;
  box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.25);
}

.exam-info {
  text-align: left;
  font-weight: 400;
}

.exam:hover {
  opacity: 0.9;
}

.exam-sec2 {
  display: flex;
  align-items: end;
}

.exam-madeby {
  font-size: 0.9rem;
  font-weight: 200;
  right: 50px;
  position: absolute;
}

.exam-comments {
  font-weight: 400;
  margin-top: 1rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 950px;
}

.comments-container {
  text-overflow: ellipsis;
}

.options {
  /* max-height: 74.375px; */
  border: 1px solid black;
  font-size: 35px;
  padding: 0.7rem 0.7rem;
  border-radius: 9px;
  margin: 1.3rem 1.8rem;
  display: flex;
  justify-content: space-between;
}

.options h1 {
  font-weight: 400;
}

.exam h2 {
  font-weight: 200;
}

.options-sec1 {
  display: flex;
}

.options-sec1 select {
  margin-top: 10px;
  padding: 3px;
  font-size: 1rem;
  margin-left: 1rem;
  outline: none;
  background-color: var(--nav-signin-color);
  color: var(--header-color);
  border-radius: 5px;
  font-family: Montserrat, sans-serif;
  border: none;
  max-height: 35px;
  text-align: center;
  box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.25);
}

.options-sec1 select * {
  background-color: var(--body-color);
}

.filter {
  width: 12rem;
  font-size: 1rem !important;
  font-weight: 400 !important;
}

#loader {
  width: 5rem;
  display: block;
  margin: auto;
  margin-top: 10rem;
}

.global-header {
  background-color: var(--body-color);
  margin-bottom: 0.3rem !important;
}

.no-exams {
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
}

.hide {
  display: none;
}

.button {
  background-color: var(--body-color);
  color: var(--btn-color);
  position: relative;
  bottom: 0.17rem;
}

select {
  background-color: var(--subject-body);
  color: #f2f4f3;
  position: relative;
  top: 0.1rem;
}

.options {
  padding: 1rem !important;
}

@media (max-width: 1140px) {
  .exam-comments {
    width: 800px;
  }
}

@media (max-width: 1020px) {
  .exam-comments {
    width: 700px;
  }
}

@media (max-width: 930px) {
  .options {
    height: auto;
    border: 1px solid black;
    font-size: 35px;
    padding: 0.7rem 0.7rem;
    border-radius: 9px;
    margin: 1.3rem 0.9rem;
    display: block;
    text-align: center;
  }

  .options-sec1 {
    display: block;
  }

  .options-sec1 select {
    height: 35px;
    text-align: center;
  }

  .exam-comments {
    width: 500px;
  }
}

@media (max-width: 730px) {
  .exam-comments {
    width: 400px;
  }
}

@media (max-width: 594px) {
  .options {
    height: auto;
    border: 1px solid black;
    font-size: 35px;
    padding: 0.7rem 0.7rem;
    border-radius: 9px;
    margin: 1.3rem 0.9rem;
    display: flex;
    justify-content: center;
    flex-flow: wrap;
  }

  .options-sec1 {
    display: block;
  }

  .options-sec1 select {
    margin-left: 0;
    height: 35px;
    text-align: center;
    width: 181px;
    font-size: 0.89rem;
  }

  body {
    padding: 0px;
  }

  .exam-comments {
    width: 260px;
  }
}
