body {
  background-color: var(--body-color);
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
}

header {
  background-color: var(--header-color);
}

.container-padding {
  padding: 3% 7%;
}

.navbar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 4rem;
}

.navbar-nav {
  list-style: none;
}

.nav-item {
  display: inline-block;
  margin-left: 1rem;
}

.nav-link:hover {
  opacity: 1;
}

.h-container {
  display: flex;
  flex-flow: row nowrap;
}

.big-header-container {
  width: 62%;
  text-align: left;
}

.big-header-container .big-header {
  margin-top: 3%;
}

.big-header {
  font-weight: 600;
  font-size: 3.55rem;
  display: block;
}

.chalkboard-container {
  width: 50%;
  text-align: right;
  position: relative;
}

.chalkboard {
  border: 5px solid #d2d2d2;
  width: 80%;
  max-width: 450px;
  pointer-events: none;
}

.exam-sample {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

.description-container {
  display: flex;
  flex-flow: column nowrap;
}

.description-container > p {
  font-size: 2rem;
  margin-bottom: 3rem;
  letter-spacing: 1px;
}

.quote-container {
  text-align: right;
}

.strikethrough {
  text-decoration: line-through;
}

.mobile-image {
  width: 30%;
  pointer-events: none;
}

.cta-container {
  background-color: var(--nav-signin-color);
}

.CTA {
  color: var(--header-color);
  padding: 1rem;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin: 4rem;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: var(--footer-color);
  font-size: 0.8rem;
  flex-grow: 1;
}

.pencil {
  width: 4rem;
  display: inline-block;
  position: relative;
  left: 21.5rem;
  bottom: 6rem;
}

.profile-photo {
  border: 1px solid black;
  border-radius: 50%;
  width: 3rem;
}

/* TextAnimation */

.big-header-container div {
  overflow: hidden;
  white-space: nowrap;
}

.big-header-container div:first-of-type {
  animation: showup 7s infinite;
}

.big-header-container div:last-of-type {
  width: 0px;
  animation: reveal 7s infinite;
}

.big-header-container div:last-of-type span {
  margin-left: -255px;
  animation: slidein 7s infinite;
}

@keyframes showup {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slidein {
  0% {
    margin-left: -800px;
  }
  20% {
    margin-left: -800px;
  }
  35% {
    margin-left: 0px;
  }
  100% {
    margin-left: 0px;
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
    width: 0px;
  }
  20% {
    opacity: 1;
    width: 0px;
  }
  30% {
    width: 355px;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 355px;
  }
}

/* Responsive */

@media (min-width: 1200px) {
  .container-padding {
    padding: 3% 15%;
  }
}

@media (max-width: 1024px) {
  .container-padding {
    padding: 5% 10%;
  }

  .chalkboard {
    width: 85%;
  }

  .quote-container {
    margin-right: 1rem;
  }
}

@media (max-width: 870px) {
  .big-header {
    font-size: 2rem;
  }

  .mobile-image {
    width: 45%;
  }
}

/*mobile-nav*/
@media (max-width: 770px) {
  .toggle-button {
    display: block;
  }

  .navbar-nav {
    display: none;
  }
}

@media (max-width: 620px) {
  .mobile-image {
    width: 85%;
    margin-top: 2rem;
  }

  .exam-sample {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
  }
}
