@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Montserrat:wght@300;400;700;800;900&family=Ubuntu:wght@700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --header-color: #12581d;
  --footer-color: #425f57;
  --home-section-color: #749f82;
  --nav-signin-color: #343a40;
  --body-color: #f2f6f3;
  --btn-color: #157070;
  --form-color: #f6f8fa;
  --border-color: #797979;
  --form-border-radius: 10px;
  --btn-and-input-radius: 5px;
  --danger-color: #e54545;
  --exam-body-color: #285e50e3;
  --incorrect-color: #fc4545;
  --mobile-nav-color: #84b594;
}

.logo {
  margin: 0 auto;
  display: block;
  width: 115px;
  aspect-ratio: auto;
  pointer-events: none;
}

.brand {
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  color: white;
  font-size: 2.5rem;
  text-decoration: none;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  text-align: center;
}

.big-header {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  color: white;
  font-weight: bold;
}

.button {
  height: 35px;
  border-radius: var(--btn-and-input-radius);
  border: none;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  background-color: var(--btn-color);
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 12px;
}

.button:hover {
  cursor: pointer;
}

.button:active {
  border: 1px solid black;
  box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.25);
}

input[type="text"],
input[type="email"],
input[type="password"] {
  height: 1.8rem;
  border: 1px solid var(--border-color);
  border-radius: var(--btn-and-input-radius);
  padding: 0 6px;
}

.modal-font {
  font-family: "Montserrat", sans-serif;
}

.modal-sign-up {
  text-decoration: none;
  color: white;
}

.hide {
  display: none !important;
}

.open {
  display: block !important;
  opacity: 1 !important;
  transform: translateY(0) !important;
}

.toggle-button {
  display: none;
  width: 3rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: middle;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button-bar {
  width: 100%;
  height: 0.2rem;
  background: white;
  display: block;
  margin: 0.6rem 0;
}

.backdrop {
  display: none;
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 0.2s linear;
}

.mobile-nav {
  transform: translateX(100%);
  position: fixed;
  z-index: 101;
  top: 0;
  right: 0;
  background: var(--mobile-nav-color);
  width: 80%;
  height: 100vh;
  transition: transform 300ms ease-out;
}

.mobile-nav-items {
  width: 90%;
  height: 100%;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mobile-nav-item {
  margin: 1rem 0;
}

.mobile-navbar {
  display: none;
}

/* HEADER */
header{
  background-color: var(--header-color);
  width: 100%;
}

.container-padding{
  padding: 3% 7% 0%;
}

.navbar{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 4rem;
}

.navbar-nav{
    list-style: none;
}

.nav-item{
    display: inline-block;
    margin-left: 1rem;
}

.nav-link{
    color: white;
    font-weight: 300;
    text-decoration: none;
    opacity: 0.8;
}

.nav-link:hover{
    opacity: 1;
}

.nav-signin-button,
.nav-signout-button{
    font-family: "Montserrat", sans-serif;
    background-color: var(--nav-signin-color);
    color: white;
    font-weight: bold;
    border: none;
    padding: 6px 25px;
    border-radius: var(--btn-and-input-radius);
    font-size: 1rem;
}

.nav-signin-button:hover,
.nav-signout-button:hover{
    cursor: pointer;
    background-color: black;
}

.nav-signup-button{
    font-family: "Montserrat", sans-serif;
    background-color: var(--body-color);
    color: black;
    font-weight: bold;
    border: none;
    padding: 6px 25px;
    border-radius: var(--btn-and-input-radius);
    font-size: 1rem;
    opacity: 0.9;
}

.nav-signup-button:hover{
    cursor: pointer;
    background-color: white;
    opacity: 1;
}

.global-header{
  margin-bottom: 3rem;
}

@media (min-width: 1200px){

  .container-padding{
      padding: 3% 15% 0%;
  }
}

@media (max-width: 1024px){

  .container-padding{
      padding: 5% 10% 0%;
  }
}

/*mobile-nav*/
@media (max-width: 770px){

  .toggle-button {
      display: block;
  }

  .navbar-nav{
      display: none;
  }
}