body {
  width: 100vw;
  height: 100vh;
  background-color: var(--body-color);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: var(--form-color);
  border: 1px solid var(--border-color);
  border-radius: var(--form-border-radius);
  margin-top: 15px;
  padding: 17px;
  width: 20rem;
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-style: normal;
}

label[for="email"] {
  margin-bottom: 10px;
}

.forgot-password-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.forgot-password-container a {
  text-decoration: none;
}

input[name="email"],
input[name="password"] {
  margin-bottom: 25px;
}

.register-now-container {
  margin: 1.5rem auto;
  padding: 12px 20px;
  background-color: white;
  text-align: center;
}

.not-registered-text a {
  display: inline-block;
  margin-left: 1rem;
  text-decoration: none;
}

.inc-credentials {
  display: block !important;
  position: relative;
  bottom: 0.9rem;
  color: var(--incorrect-color);
  text-align: center;
  font-size: 0.8rem;
}
