.examProfile {
  cursor: pointer;
  background-color: var(--header-color);
  color: var(--body-color);
  border-radius: 9px;
  padding-bottom: 0.4rem;
  width: 800px;
  transition: opacity 200ms ease;
  box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.25);
  left: 4rem;
  position: relative;
  margin-bottom: 1rem;
}

.no-exams-user {
  margin-top: 5rem;
}

.examProfile:hover {
  opacity: 0.9;
}

.fa-trash {
  cursor: pointer;
  transition: all 200ms ease;
  position: relative;
  margin-left: 0.6rem;
}

.fa-trash:hover {
  color: var(--incorrect-color);
}

.examProfile h2 {
  font-size: 1.6rem;
  padding-top: 0.3rem;
  margin-left: 42px;
  font-weight: 200;
  text-align: left;
  width: inherit;
}

.examProfile p {
  margin-left: 40px;
}

.exam-info {
  text-align: left;
  font-weight: 400;
}

.exam:hover {
  opacity: 0.9;
}

.exam-sec2 {
  display: flex;
  align-items: end;
}

.exam-madeby {
  font-size: 0.9rem;
  font-weight: 200;
  right: 81px;
  position: absolute;
}

.exam-comments {
  font-weight: 400;
  margin-top: 1rem;
  margin-left: 42px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 500px;
}

.comments-container {
  text-overflow: ellipsis;
}

h1 {
  margin-left: 3.5rem;
  font-size: 2rem;
  font-weight: 300;
}

h2 {
  margin-left: 4rem;
  margin-top: 3rem;
  font-size: 2rem;
}

p {
  margin-left: 4rem;
}

h3 {
  font-weight: 600;
  margin-bottom: 0.5rem;
  margin-left: 4rem;
  margin-top: 1rem;
}

opened-option-container {
  text-align: center;
  margin: auto;
  width: 800px;
}

main {
  display: flex;
  width: 100%;
}

.first-option-account {
  margin-left: 3.5rem;
  margin-top: 1.3rem;
  border: none;
  background-color: unset;
  font-size: 1rem;
  cursor: pointer;
  transition: opacity 300ms ease;
}

.first-option-account:hover {
  opacity: 0.6;
}

.options-container {
  border-right: 1px solid rgb(137, 137, 137);
  width: 300px;
  min-width: 222px;
}

.option-account {
  margin-left: 3.5rem;
  display: flex;
  align-items: center;
  margin-top: 1.3rem;
  border: none;
  font-size: 1rem;
  background-color: unset;
  cursor: pointer;
  transition: opacity 250ms ease;
}

.option-account:hover {
  opacity: 0.6;
}

.delete-account-btn {
  color: var(--incorrect-color);
}

label:nth-child(1) {
  margin-top: 3rem;
}

label {
  margin-left: 4rem;
  display: block;
  margin-bottom: 1rem;
}

.input-profile {
  font-size: 1.2rem;
  padding: 10rem;
  width: 18.5rem;
}

.img-profile {
  border-radius: 20%;
  width: 10rem;
  margin-top: 2rem;
  position: relative;
  left: 3rem;
  min-height: 181.219px;
  min-width: 160px;
  object-fit: cover;
}

.save-button {
  font-size: 1.05rem !important;
  margin-left: 4rem;

  width: 6.5rem;
}

.save-button:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
}

#inputPhoto {
  display: none;
}

.profile-opened-image {
  border-radius: 20%;
  width: 10rem;
  position: relative;
  right: 1rem;
  bottom: 1.5rem;
  transition: opacity 250ms ease;
  cursor: pointer;
  min-height: 181.219px;
  min-width: 160px;
  object-fit: cover;
}

.profile-opened-image:hover {
  opacity: 0.7;
}

.small-photo {
  position: relative;
  left: 0.2rem;
  bottom: 2rem;
}

.imgLabelProfile {
  max-height: 181.219px;
  max-width: 160px;
}

.becareful {
  margin-top: 4rem;
  margin-left: 3rem;
  display: block;
  padding: 1rem;
  color: var(--incorrect-color);
}

.button-remove {
  display: block;
  margin-left: 4rem;
  font-size: 1.05rem !important;
}

@media (max-width: 1044px) {
  .examProfile {
    right: 10rem;
    width: 600px;
  }

  .exam-comments {
    width: 360px;
  }
}

@media (max-width: 980px) {
  .examProfile {
    right: 10rem;
    width: 550px;
  }

  .exam-madeby {
    left: 400px;
    width: 100px;
    height: 50px;
  }
}

@media (max-width: 930px) {
  .examProfile {
    width: 380px;
  }

  .exam-comments {
    width: 320px;
  }

  .exam-madeby {
    display: block;
    position: unset;
    height: 20px;
    width: 320px;
    margin: 0;
    margin-left: 1rem;
    font-weight: 500;
  }

  .exam-madeby br {
    display: none;
  }

  .exam-madeby span {
    margin-right: 0.2rem;
  }
}

@media (max-width: 770px) {
  h1 {
    margin-left: 0;
    text-align: center;
  }

  main {
    /* display: flex;
    width: 100%; */
    flex-direction: column;
    align-items: center;
  }

  .options-container {
    border-right: none;
    width: auto;
    height: auto;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }

  .img-profile {
    /* border-radius: 20%;
    width: 10rem;
    margin-top: 2rem; */
    position: relative; /*attention*/
    left: auto; /*attention*/
    /* min-height: 181.219px;
    min-width: 160px;
    object-fit: cover; */
  }

  h3 {
    /* font-weight: 600;
    margin-bottom: 0.5rem; */
    margin-left: 0;
    /* margin-top: 1rem; */
  }

  .first-option-account {
    margin-left: 0rem;
    /* margin-top: 1.3rem;
    border: none;
    background-color: unset;
    font-size: 1rem;
    cursor: pointer;
    transition: opacity 300ms ease; */
  }

  .option-account {
    margin-left: 0;
    display: block;
    margin-top: 1.3rem;
    border: none;
    background-color: unset;
    cursor: pointer;
    transition: opacity 250ms ease;
    margin: 1.3rem auto 0;
  }

  .opened-option-container {
    text-align: center;
  }

  h2 {
    margin-left: 0;
    /* margin-top: 3rem;
    font-size: 2rem; */
  }

  p {
    margin-left: 0;
  }

  label {
    margin-left: 0;
    /* display: block;
    margin-bottom: 1rem; */
  }

  label:nth-child(1) {
    margin-top: 2rem;
  }

  .save-button {
    /* font-size: 1.05rem !important; */
    /* margin-left: 0; */
    /* width: 6.5rem; */
    margin: 0 auto;
    margin-bottom: 1rem;
  }

  .imgLabelProfile {
    max-height: 181.219px;
    max-width: none;
  }

  .input-profile {
    text-align: center;
  }

  .profile-opened-image {
    right: 0;
  }

  .small-photo {
    left: 0;
    top: -1.7rem;
  }

  .becareful {
    margin-left: 0;
    padding: 1rem 0;
  }

  .button-remove {
    display: unset;
    margin-left: 0;
    margin-bottom: 1rem;
  }

  .examProfile {
    width: 570px;
    position: relative;
    left: 10px !important;
  }

  .examProfile p:not(.exam-comments) {
    margin-left: 28px;
    width: 120px;
  }

  .exam-madeby {
    margin-left: 1rem;
    text-align: left;
  }
}

@media (max-width: 730px) {
  .exam-comments {
    width: 400px;
    margin-right: 1rem;
  }
}

@media (max-width: 601px) {
  .examProfile h2 {
    width: 80%;
    text-align: left;
    font-size: 1.4rem;
  }

  .examProfile {
    width: 355px;
    position: unset;
  }
}

@media (max-width: 594px) {
  .exam-comments {
    width: 300px;
    margin-left: 40px !important;
  }
}
