body {
  width: 100vw;
  height: 100vh;
  background-color: var(--body-color);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.container {
  background-color: var(--form-color);
  border: 1px solid var(--border-color);
  border-radius: var(--form-border-radius);
  margin-top: 15px;
  padding: 17px;
  width: 24rem;
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-style: normal;
}

label[for="name"],
label[for="email"],
label[for="message"]{
  margin-bottom: 10px;
}

input[name="name"],
input[name="email"],
textarea[name="message"]{
  margin-bottom: 25px;
}

textarea[name="message"]{
  border: 1px solid var(--border-color);
  border-radius: var(--btn-and-input-radius);
  padding: 6px;
  resize: vertical;
}
