body {
  width: 100vw;
  height: 100vh;
  background-color: var(--body-color);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.container {
  background-color: var(--form-color);
  border: 1px solid var(--border-color);
  border-radius: var(--form-border-radius);
  margin-top: 15px;
  padding: 17px;
  width: 24rem;
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-style: normal;
}

label[for="name"],
label[for="email"],
label[for="message"]{
  margin-bottom: 10px;
}

input[name="name"],
input[name="email"],
textarea[name="message"]{
  margin-bottom: 25px;
}

textarea[name="message"]{
  border: 1px solid var(--border-color);
  border-radius: var(--btn-and-input-radius);
  padding: 6px;
  resize: vertical;
}

.little-navbar {
  position: absolute;
  top: 0;
  right: 0;
  width: auto;
  text-align: right;
  margin-top: 1rem;
  margin-right: 5rem;
  transform: translateX(100vw);
  transition: all 0.5s;
  display: flex;
  align-items: center;
  min-height: 48px;
}

.little-navbar img{
  width: 35px;
  margin: 0 1rem;
  opacity: 0.2;
}

.little-navbar .view-exam-icon{
  width: 60px;
}

.little-navbar img:hover{
  cursor: pointer;
  opacity: 1;
}

.quick-access-logo {
  background-image: url("../logo.png");
  background-size: cover;
  background-position: center;
  width: 45px;
  height: 45px;
  position: absolute;
  top: 0;
  right: 10px;
  margin-top: 1rem;
  border-radius: 50%;
  border: 4px double black;
  z-index: 100;
}

.quick-access-logo:hover{
  cursor: pointer;
}
