*{
    box-sizing: border-box;
    margin: 0;
  }

  body{
    background-color: #333333;
  }
  
  main{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .exam-container{
    background-color: #f4f4f4;
    width: 80%;
    min-height: 100vh;
    padding: 1rem;
  }
  
  .title{
    margin-bottom: 1.5rem;
  }
  
  .buttons-container{
    display: flex;
    justify-content: space-between;
    margin: 1.5rem 0;
  }
  
  textarea{
    display: block;
    width: 100%;
    resize: vertical;
  }
  
  .answers-container{
    display: flex;
    flex-flow: column nowrap;
    gap: 5px;
    margin-left: 1.5rem;
  }
  
  input[type="radio"]{
    margin-right: 0.7rem;
  }
  
  .question-container{
    margin: 2rem 0;
    width: 80%;
  }

  .nqb-container{
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 1rem;
  }

  .question-number{
    margin-right: 0.5rem;
  }

  .delete-button {
    align-self: center;
    height: 1.5rem;
    margin-left: 1.5rem;
}